
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1F1D2C;
    color: white;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: white;
}

.faucet-page {
    margin: auto;
}

.page-loader {
    margin: auto;
    text-align: center;
}

.nav-bar-menu-element-logo {
    padding: 0.5rem;
    background-color: rgba(151, 152, 159, 0.1);
    border-radius: 25%;
}

.nav-bar-menu-element-logo:hover {
    background-color: #6B5ECD;
}

.nav-bar-menu-element-text {
    margin-left: 1rem;
}


.page-loader-progress {
    padding: 1rem;
}

.faucet-page-header {
    padding: 1rem;
    text-align: center;
}

.h-captcha {
    padding: 1rem;
    margin: auto;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 75rem;
    width: 100%;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 1);
}

.login-page-header {
    text-align: center;
    font-size: 300%;
}

.main-column {
    display: flex;
    flex-direction: column;
    width: 65%;
    border: 1px solid gray;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding: 1rem;
}

.nav-bar {
    border-left: 1px solid gray;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    height: 99.8vh;
    top: 0;
}

.nav-bar-header {
    padding: 2rem;
}

.login-link-component-wrapper {
    padding: 1rem;
    font-size: 30px;
    background-color: rgba(151, 152, 159, 0.1);
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    max-width: 85%;
}

.login-link-component-wrapper:hover {
    background-color: #6B5ECD;
    transition: 0.2s;
}

.login-link-component-text{
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.login-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.login-component-mnemonic {
    height: 15rem;
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
    background-color: rgba(151, 152, 159, 0.1);
    border: none;
    outline: none;
    resize: none;
    color: white;
    font-size: 160%;
    border-radius: 0.5rem;
}

.nav-bar-menu {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.nav-bar-balance {
    padding: 2rem;
    font-size: 120%;
    display: flex;
    flex-direction: row;
}

.nav-bar-balance-logo {
    width: 2rem;
    height: 2rem;
    color: #6B5ECD;
}

.nav-bar-balance-value {
    padding: 0.2rem;
    margin-left: 0.5rem;
}

.login-component-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-menu-element {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-menu-element:hover .nav-bar-menu-element-logo, .nav-bar-menu-element.hover .nav-bar-menu-element-logo {
    background-color: #6B5ECD;
    transition: 0.2s;
}

.timelines {
    display: flex;
    border-bottom: 1px solid black;
}

.timeline {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}
.login-notice {
    text-align: center;
}

.account-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}
.account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.account-info-follower-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.25rem;
}

.account-info-element-wrapper {
    border-bottom: solid 1px;
}

.with-padding {
    padding: 1rem;
}

.with-margin-bottom {
    margin-bottom: 1rem;
}

.with-border-bottom {
    border-bottom: solid 1px gray;
}

.account-info-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-info-followings:Hover{
    text-decoration: underline;
}

.account-info-photo {
    width: 12rem;
    height: 12rem;
    border: 4px solid black;
    margin: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.account-info-address {
    padding: 0.25rem;
}

.button {
    padding: 0.5rem;
    background-color: #6B5ECD;
    color: white;
    border-radius: 2px;
    margin: 1rem;
}

.button:hover {
    cursor: pointer;
    color: #6B5ECD;
    background-color: white;
}

.account-info-field{
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(151, 152, 159, 0.1);
    border: solid 1px #6B5ECD;
    outline: none;
    color: white;
}

.hide {
    display: none;
}

.new-account-info-buttons{
    display: flex;
}

.new-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.account-info-name {
    font-size: 120%;
    padding: 0.25rem;
}


.post-creator {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
    background-color: rgba(151, 152, 159, 0.1);
    border-radius: 0.5rem;
}

.post-component {
    margin: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgba(151, 152, 159, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

.post-component:hover {
    box-shadow: 0 -2px 30px rgba(0, 0, 0, 1);
}

.post-component-text-wrapper {
    padding: 1rem;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
}

.account-info-align {
    align-items: center;
}



.post-component-text-focus {
    font-size: 200%;
}

.post-component-bar {
    padding: 0rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post-component-header {
    padding-left: 0.75rem;
    padding-top: 0.75rem;
}

.post-component-header:hover{
    cursor: pointer;
    text-decoration: underline;
}

.post-component-bar-button {
    padding: 0.5rem;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.post-component-bar-button:hover{
    cursor: pointer;
    background-color: #6B5ECD;
}

.post-component-bar-button-content {
    text-align: center;
    margin-left: 0.5rem;
}

.post-creator-input {
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: white;
    font-size: 160%;
}

.post-creator-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.post-creator-button-post {
    padding: 0.5rem;
    margin-left: auto;
    background-color: #6B5ECD;
    color: white;
    border-radius: 2px;
}

.post-creator-button-post:hover {
    cursor: pointer;
    color: #6B5ECD;
    background-color: white;
}

.post-component-account-info{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
}

.post-component-account-info-image{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.post-component-account-info-name {
    font-size: 150%;
}
.post-component-account-info-name:hover{
    text-decoration: underline;
}

.post-component-account-info-address {
    padding-left: 1rem;
    color: gray;
    align-self: center;
}

.post-component-text-content{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(151, 152, 159, 0.3);
    border-radius: 0.5rem;
}

.send-component {
    margin: auto;
}

.insecure-notice {
    margin: auto;
    padding: 2rem;
    text-align: center;
    /* border: solid 1px gray; */
    background-color: #6B5ECD;
}

.send-component-inner-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}