<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <title> Blawgd </title>
    <link rel="icon" type="image/png" href="/assets/imgs/favicon.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="/assets/app.js"></script>
</head>
<body id="body">
<div class="page">
    <div class="page-wrapper">

        <div class="nav-bar">
            <a href="/" class="nav-bar-header">
                <img src="/assets/imgs/logo.png">
            </a>
            <div>Censorship resistant blogging platform</div>
            <div class="nav-bar-menu">
                <a href="/" class="nav-bar-menu-element">
                    <img src="/assets/imgs/explore.svg" class="nav-bar-menu-element-logo"> <div class="nav-bar-menu-element-text">Explore</div>
                </a>

                <a href="/timeline" class="nav-bar-menu-element">
                    <img src="/assets/imgs/home.svg" class="nav-bar-menu-element-logo"> <div class="nav-bar-menu-element-text">Timeline</div>
                </a>
                <a href="/profile/blawgd1h08ahazqhm2zjxkg0qatgkf9fzwrksqlve4qzz" class="nav-bar-menu-element">
                    <img src="/assets/imgs/User.svg" class="nav-bar-menu-element-logo"> <div class="nav-bar-menu-element-text">Profile</div>
                </a>
                <a href="https://github.com/shravanshetty1/blawgd" class="nav-bar-menu-element">
                    <img src="/assets/imgs/about.svg" class="nav-bar-menu-element-logo"> <div class="nav-bar-menu-element-text">About</div>
                </a>

            </div>

            <div class="nav-bar-balance">
                <img src="/assets/imgs/money.svg" class="nav-bar-balance-logo"> <div class="nav-bar-balance-value">1</div>
            </div>
            <a href="/login" class="login-link-component-wrapper">
                <img src="/assets/imgs/profile.jpeg" class="post-component-account-info-image">
                <div class="login-link-component-text">anone4qzz</div>
            </a>

        </div>
        <div class="main-column">

            <div class="login-page-header">Currently logged in as</div>
            <div class="account-info-wrapper">

                <div class="account-info">
                    <img id="account-info-photo" src="/assets/imgs/profile.jpeg" class="account-info-photo">
                    <div id="account-info-name" class="account-info-name">anone4qzz</div>
                    <div class="account-info-address">@blawgd1h08ahazqhm2zjxkg0qatgkf9fzwrksqlve4qzz</div>
                    <div class="account-info-follower-info">
                        <a>0 Followers</a>
                        <a href="/followings/blawgd1h08ahazqhm2zjxkg0qatgkf9fzwrksqlve4qzz" class="account-info-followings">0 Following</a>
                    </div>
                </div>

                <div id="logout-button" class="button">Logout</div>
            </div>

            <div class="login-notice">To signup click on "Generate Account" and "Login" - save the mnemonic somewhere if you want to log back in.</div>
            <div class="login-component">
                <textarea id="wallet-mnemonic" class="login-component-mnemonic" placeholder="Mnemonic here..."></textarea>
                <div class="login-component-buttons">
                    <div id="generate-account" class="button">Generate Account</div>
                    <div id="login" class="button">Login</div>
                </div>
            </div>
        </div>
        <div class="secondary-column"></div>
    </div>
</div></body></html>